<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-5 mt-5">
      <mat-card class="example-card p-3">
        <mat-card-header>
          <mat-card-title>SIGN UP</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <section class="signup-section">
            <form class="signup-form">
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  placeholder="Ex. pat@example.com"
                />
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error> Please enter a valid email address </mat-error>
                <mat-error> Email is <strong>required</strong> </mat-error>
              </mat-form-field>
            </form>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
